* {
    margin: 0px;
}

header {
    background-color: #f5a661;
    text-align: left;
    display: flex;
}

#ghilogo {
    height: 150px;
    width: auto;
    margin-left: 40px;
}

#searchbox {
    background-color: #fae6ce;
    border: none;
    border-radius: 20px;
    float: right;
    height: 40px;
    width: 250px;
    display: none;
}

body {
    background-image: url(https://i.postimg.cc/BQztvsj0/Capture.png);
    background-repeat: no-repeat;
    background-color: #c2f4f8;
}

#sortBy {
    background-color: #f5705a;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
}

#sortingMenu {
    background-color: #DDBC94;
    height: 25px;
    width: 225px;
    text-align: right;
    border: none;
    border-radius: 20px;
    font-size: medium;
    color: #ffffff;
}

#root {
    padding-left: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #B5735B;
    border-radius: 20px;
    margin: 20px;
    width: 300px;
    font-family: 'Roboto Flex', sans-serif;
    padding-bottom: 20px;
}

h1 {
    padding: 0 20px;
    font-size: 20px;
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cardPoster {
    height: 300px;
    width: auto;
}

.moreInfoButton {
    border-radius: 20px;
    border: none;
    background-color: #DFF681;
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    display: none;
}

#resetfilters {
    background-color: #802620;
    color: #FFFFFF;
    border-radius: 20px;
    border: none;
}

.filters {
    background-color: #DDBC94;
    width: 200px;
    border-radius: 20px;
    border: none;
}

/* #filters {

} */